/**
 * ----------------------------------------------------------------------------
 * Editor CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-organic-profile-block ul,
.wp-block-organic-profile-block li {
	list-style: none;
	margin: 0; padding: 0;
}
.wp-block-organic-profile-block {
	display: flex;
	align-items: stretch;
	background-color: #ffffff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.wp-block-organic-profile-block .organic-profile-image {
	display: flex;
	align-items: center;
}
.wp-block-organic-profile-block .organic-profile-image.image-inactive {
	background: #f4f4f4;
	width: 40%;
	border: 1px solid #dddddd;
}
.wp-block-organic-profile-block .organic-profile-image.image-active {
	background-size: cover;
	background-position: center;
	max-width: 40%;
}
.wp-block-organic-profile-block .organic-profile-image button {
	margin: 0 auto;
}
.wp-block-organic-profile-block .organic-profile-image button.image-button {
	line-height: 0;
	padding: 0px;
}
.wp-block-organic-profile-block .organic-profile-image button.image-button img {
	opacity: 0;
	margin: 0;
}
.wp-block-organic-profile-block .organic-profile-content {
	width: 60%;
	align-self: center;
	padding: 36px;
	box-sizing: border-box;
}
.wp-block-organic-profile-block .organic-profile-content h5.editor-rich-text__tinymce {
	color: rgba(0, 0, 0, 0.4);
}
.wp-block-organic-profile-block .organic-profile-social {
	margin-top: 12px;
}
.wp-block-organic-profile-block .organic-profile-social .social-link {
	color: rgba(0, 0, 0, 0.24);
	padding: 6px 12px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.wp-block-organic-profile-block .organic-profile-social .social-link:hover {
	color: rgba(0, 0, 0, 1);
}
.wp-block-organic-profile-block .organic-profile-social .social-link:first-child {
	border: none;
}
