/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-gb-block-editable-03 {
	color: #000000;
	background: azure;
	border: 0.2rem solid midnightblue;
	padding: 2rem;
}
